---
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Rythm Nation">
	<Main>		
		<H1 text="About Rythm Nation" />
        <p>Awesome</p>
	</Main>
</Layout>